<li class="list-group-item list-group-item-action">
  <% if hit['type'] == 'message' %>
    @<%= hit['username'] %>
    <a target="_blank" href="<%= hit['permalink'] %>">
      <%= hit['text'] %>
    </a>
  <% else %>
    Private message redacted.
  <% end %>
</li>
