<div class="container mt-3">

  <h1><%= t('.header') %></h1>

  <div class="d-flex justify-content-center">
    <div class="input-group col-md-4">
      <input class="form-control py-2" type="search"
             placeholder="<%= t('.placeholder') %>"
             id="search-term">
      <span class="input-group-append">
        <button class="btn btn-outline-secondary"
                id="search-submit"
                type="button">
          <i class="fa fa-search"></i>
        </button>
      </span>
    </div>
  </div>

  <div class="mt-3">
    <ul class="nav nav-tabs" id="source-select" role="tablist">
      <% SEARCHERS.keys.each do |searcher| %>
        <%= search_tab_label(searcher, active_searcher: @active_searcher) %>
      <% end %>
    </ul>

    <div class="tab-content m-3">
      <% SEARCHERS.keys.each do |searcher| %>
        <%= search_tab_panel(searcher, active_searcher: @active_searcher) %>
      <% end %>
    </div>
  </div>

</div>
